#origin-list {


  ul {

    position: relative;
    padding-left: 3rem;

    span.concessiegebied {
      position: absolute;
      top: .5rem;
      left: 1rem;
      writing-mode: vertical-rl;
      text-orientation: upright;
      text-transform: uppercase;
      font-size: .6rem;
    }

    li {
      text-transform: uppercase;
      font-size: .9rem;
    }

    li.hidden {
      display: none;
    }

    li.active, li.hidden.active {

      display: block;
      background: black;
      color: $yellow;
    }

    &.grey {
      background: $grey;

      li {
        border-bottom: 1px solid white;
        border-left: 1px solid white;
      }
      li:last-of-type {
        border-bottom: 1px solid $grey;
      }
    }

    &.white {
      background: white;

      li {
        border-bottom: 1px solid $grey;
        border-left: 1px solid $grey;
      }

    }
  }
}